*{
	margin: 0;
	padding: 0;
}

body{
	background-image:url('images/idev.png');
}

.title, .slider,.projects{
	margin: 3em 20em;
}

.projects #no1,
.projects #no2,
.projects #no3{
	display: inline;
	position: relative;
	margin-right:3em;
}

.projects{
	.pimg{
		padding: .5em;
		border-radius:5;
		background:rgba(0,0,0,1);
	}
	img{
		box-shadow:1px 1px .5px rgba(0,0,0,.3);
	}
}

.title{
	p{
		text-align:center;
		font-size:48px;
	}
}

.slider{
	background-color:white;
	border-radius:8;
	.carousel{
		.carousel-inner{
			margin:0 auto;
			width:320px;
		}
	}
}

a{
	opacity:0.8;
}

a:hover{
	opacity: 1;
}