<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<!-- Desciptions -->
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- Icons -->
	<link rel="icon" sizes="16x16" href="/favicon.ico" />

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icons/touch-icon-iphone.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/touch-icon-ipad.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/touch-icon-iphone4.png" />

	<!-- iOS stuff -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />  
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<link rel="apple-touch-startup-image" href="/images/ios-splash.png" />

	<!-- Scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-tooltip.js"></script>

	<!-- Title -->
	<title>{{ page.title }}{% if page.title %} |{% endif %} Streaming</title>
</head>
<body>
<div class="site">
	<div class="top">
		<div class="title">
			<h1><a href="/">Streaming</a></h1>
		</div>
	</div>


	<!--  Post Content -->
	<div class="post">
	{{ content }}
	</div>
	<!--  Post Content -->

	<!--  Footer Part -->
	<div class="footer"> 
		<div class="avatar">
			<a href="/resume"><img src="/images/avatar.jpg" alt="avatar" width="48px" height="48px" rel="tooltip" title="©2012 Chenhui Zhang 点击获取简历"></a>
		</div>
		<div class="foot-nav">
			<a href="/projects">Projects</a>
			<ul>
				<li><a href="https://twitter.com/peetryzch">Twitter</a></li>
				<li><a href="http://weibo.com/froo">Weibo</a></li>
				<li><a href="http://zhihu.com/people/zhang-chen-hui">Zhihu</a></li>
				<li><a href="mailto:chenhui.zhang@me.com?subject=Hello~">Email</a></li>
			</ul>
		</div>
	</div>
	<!--  Footer Part -->

</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('img[rel=tooltip]').tooltip();
		})
	</script>
</body>
</html>
